<form method="post" action="{{ path('teacher_delete', {'id': teacher.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ teacher.id) }}">
    <button class="btn">Delete</button>
</form>
