{% extends 'base.html.twig' %}

{% block title %}Edit Teacher{% endblock %}

{% block body %}
    <h1>Edit Teacher</h1>

    {{ include('teacher/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('teacher_index') }}">back to list</a>

    {{ include('teacher/_delete_form.html.twig') }}
{% endblock %}
