@import "custom";
@import "~bootstrap/scss/bootstrap";


body {
    background-color: lightgray;
}

fieldset {
  display: block;
  margin-left: 2px;
  margin-right: 2px;
  padding-top: 0.35em;
  padding-bottom: 0.625em;
  padding-left: 0.75em;
  padding-right: 0.75em;
  border: 2px groove (internal value);
  border-color: aquamarine;
}
.fieldset-student{
    border-color: aquamarine;
}
